* {
    box-sizing: border-box;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: #7c2311;
    height: 70px;

}

header .nav {
    display: block;
}

header * {
    color: white;

}

.drop__down{
    z-index: 999 !important;
}

header h1 i {
    color: rgb(211, 46, 0);
    padding: 4px;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
    font-family: 'Roboto', sans-serif;
}

header .logo-txt {
    margin: 9px;

}

header ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    height: inherit;
    font-family: 'Roboto', sans-serif;
}

header ul li {
    float: left;
    position: relative;
    height: inherit;
}

header ul li i.fa-chevron-down {
    font-size: 0.8em;
}

header ul li ul {
    position: absolute;
    top: 70px;
    right: 0;
    width: 180px;
    display: none;
    height: auto;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    color: #3F3F3FFF;
    background: #eeeeee;
}

header ul li ul li a.deconnexion {
    color: rgb(211, 46, 0);
}

header ul li ul li a:hover {
    background: #AFB1B3;
}

header ul li a {
    display: block;
    padding: 24px;
    font-size: 1.1em;
    text-decoration: none;
    height: 100%;

}

header ul li a:hover {
    background: #5d2110;
    transition: 0.3s;
}

header .menu-switch {
    display: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    padding: .5rem 1rem;
    background: #9a2914;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn:hover {
    background: #5d2110;
    transition: 0.3s;
}

.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: gray;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    border: 1px solid lightgray;
}

@media only screen and (max-width: 750px) {
    header {
        position: relative;
    }

    header ul {
        width: 100%;
        height: auto;
        background: #9a2914;
    }

    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static;
        /*display: block;*/
        width: 100%;
    }

    header ul li ul li a {
        color: white;
        background: #7b2312;
        padding: 10px 10px 10px 50px;
    }

    header ul li ul li a:hover {
        background: #5d2110;
        transition: 0.5s;
    }

    header ul li ul li a.deconnexion {
        color: #ff3b00;
    }

    header .nav {
        display: none;
    }

    header .menu-switch {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        float: right;
        font-size: 3em;
    }

    header .logo {
        margin-left: .5em;
    }

}