@import "guiStyle.css";
@import "CommunEntre/formulaire.css";
@import "guiBlog.css";


/* PAGE WRAPPER */

.page-wrapper {
    padding: 0 50px 50px;
    overflow: hidden;
}

/* CONTENT */

.content {

    width: 100%;
    margin: 100px auto 30px;


}

.content .content__main {
    width: 70%;
    float: left;

    background: #f5f2f2;

}

.content .content__main .sujet__wrapper, .rep__ajout__wrapper, .rep {
    width: 95%;
    margin: 10px auto;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 5px;
    background: white;

}

.content .content__main .sujet__wrapper .sujet__titre {
    width: 90%;
    padding: 0 0 5px 25px;
}

.content .content__main .sujet__info {
    padding-left: 10px;
    margin-bottom: 16px;

}

.content .content__main .sujet__info, .rep__info i {
    color: gray;
    padding: 2px;
}

.content .content__main .sujet .sujet__image {
    width: 40%;
    height: 100%;
    padding-left: 2%;

}

.content .content__main .sujet .sujet__image img {
    height: 100%;
    width: 100%;
    border-radius: 1%;

}

.content .content__main .sujet .sujet__contenu, .rep__ajout, .rep {
    width: 95%;
    padding-top: 8px;
    margin-top: 16px;
    border-top: 1px solid lightgrey;
    margin-left: 1em;
}

/* RESPONSE */
.content .content__main .reponse__wrapper .rep__ajout__wrapper > h2 {
    padding-left: 10px;
}

.content .content__main .reponse__wrapper {
    width: 95%;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
    padding-bottom: 10px;
}

.modif {
    float: right;
    background: #9a2914;
    border-radius: 1%;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
}

.modif a {
    color: white;
    padding: 2px 2px 2px 2px;
}
